.filterbar-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
  margin-top: 20px;
}


.dropdown-group {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  background: #fff;
  border: 1px solid #e5e7eb;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  min-width: 130px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease;
}

.dropdown-btn:hover {
  border-color: #cbd5e1;
}

.arrow {
  font-size: 12px;
  color: #888;
}


.dropdown-menu {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  width: 180px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  z-index: 10;
  padding: 6px 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
  animation: fadeIn 0.15s ease-in-out;
}

.dropdown-item {
  padding: 9px 14px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.dropdown-item:hover {
  background: #f9fafb;
}


.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
}

.dot.green {
  background: #22c55e;
}

.dot.red {
  background: #ef4444;
}

.search-box {
  flex: 1;
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 0px 12px;
  transition: border-color 0.2s;
  max-width: 200px;
}

.search-box:focus-within {
  border-color: #3b82f6;
}

.search-icon {
  width: 16px;
  color: #9ca3af;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 13px;
  color: #333;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}